.container {
  position: relative;
  margin: 24px;
  background: #fff;
}

.searchContainer {
  line-height: 32px;
  background: #f5f5f9;

  button {
    margin-left: 8px;
  }
}

.projectCards {
  margin-right: 0;
  padding-bottom: 24px;
  background: #f5f5f9;
}

.loadingWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  margin-top: 20px;
  background: white;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;

  .left {
    flex: 0.4;
    height: 40px;
    text-align: center;
  }

  .right {
    flex: 0.4;
    height: 40px;
    text-align: center;
  }
}

.userItem {
  padding-top: 10px;
  border-top: 1px solid #f0f0f0;
}
